*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#getQuotesBtn{
    padding: 5px 8px;
    cursor: pointer;
    
}
#copyQuotes{
    padding: 5px 8px;
    cursor: pointer;
    
}